<div id="globalSchedulingDEdit" class="pageBox">
	<div id="pageHead">
		<div id="breadcrumb">
			<a class="parent">{{firstMenuName}}</a>
			<a class="parent" ui-sref="index.strategy.globalSchedulingD.list">{{secondMenuName}}</a>
            <a class="self" ng-if="id==0">{{"add"|translate}}</a>
            <a class="self" ng-if="id!=0">{{"modify"|translate}}</a>	
		</div>
		<div id="currentSelf">
			<h3 ng-if="id==0">{{"add"|translate}}</h3>
            <h3 ng-if="id!=0">{{"modify"|translate}}</h3>
		</div>
	</div>

	<div class="pageMain w80 autoLR">
		<div id="pageEdit">
			<form name="edit_form" novalidate autocomplete="off">
				<div class="pageEdit_content">
					<!-- cpID -->
					<div class="pageEdit_item">
						<span class="pageEdit_itemT">{{"cp"|translate}}:</span>
                        <select class="pageEdit_itemC" ui-select2 ng-model="item.cpID" ng-options="i.cpId as i.name for i in cpList" ng-change="getDomainByCp(item.cpID)" required></select>
                    </div>
                    <!-- 节点 -->
					<div class="pageEdit_item">
						<span class="pageEdit_itemT">{{"node"|translate}}:</span>
                        <select class="pageEdit_itemC" ui-select2 ng-model="item.nodeID" ng-options="i.nodeID as i.nodeName for i in nodeList" ng-change="getGroupByNode(item.nodeID)" required></select>
                    </div>
                    <!-- 群组 -->
					<div class="pageEdit_item">
						<span class="pageEdit_itemT">{{"group"|translate}}:</span>
                        <select class="pageEdit_itemC" ui-select2 ng-model="item.groupID" ng-options="i.groupID as i.groupName for i in groupList" required></select>
					</div>
					<!-- 注释 -->
					<div class="pageEdit_item note">
						<span class="pageEdit_itemC">{{"globalSchedulingD_tip"|translate}}</span>
					</div>
                    
					<!-- 域名 -->
					<div class="pageEdit_list">
                        <div class="pageEdit_listBox" ng-repeat="value in item.domainList track by $index">
                            <div class="pageEdit_item">
                                <span class="pageEdit_itemT">{{"domainName"|translate}}:</span>
                                <select  class="pageEdit_itemC" ui-select2  ng-model="value.domainName" ng-options="i.domainName as i.alias for i in domainList" required></select>
							</div>
					
                            <div class="list_del"><button ng-click="delDomain($index,$event)" class="btn_a" ng-disabled="item.domainList.length==1">{{"delete"|translate}}</button></div>
                        </div>
                        <div class="list_add"><button type="button" ng-click="addDomain()"><span>{{"addConfig"|translate}}</span></button></div>
                    </div>
					
                </div>
                
				<div class="pageEdit_btnGroup">
					<button type="button" class="pageBtn_blue40" ng-click="save()" ng-disabled="edit_form.$invalid">{{"submit"|translate}}</button>
					<button type="button" class="pageBtn_bai40" ng-click="return()">{{"cancel"|translate}}</button>
				</div>
			</form>	
		</div>
	</div>
</div>
