<div id="userMList" class="pageBox">
    <div id="pageHead">
        <div id="breadcrumb">
            <a class="parent">{{firstMenuName}}</a>
            <a class="self">{{secondMenuName}}</a>
        </div>
        <div id="currentSelf">
            <h3>{{secondMenuName}}</h3>
        </div>
    </div>

    <div class="pageMain">
        <div class="pageSearch">
            <div class="pageSearch_row">
               <div class="pageSearch_item">
                    <span class="pageSearch_itemT">{{"userORrole"|translate}}:</span>
                    <input class="pageSearch_itemC" type="text" ng-model="searchOptions.name" null-value placeholder='{{"pleaseInput"|translate}}'>
                </div>
                <div class="pageSearch_btnGroup right">
                    <button ng-if="userM.searchBtn" id="search" type="button" class="pageBtn_blue36" ng-click="search()">{{userM.searchName}}</button>
                </div>
            </div>
        </div>
        <div class="pageContent_operation">
            <a ng-if="userM.addBtn" class="pageBtn_blue36 addIcon" ui-sref="index.security.userM.edit({id:0})">{{"add"|translate}}</a>
            <button ng-if="userM.deleteMoreBtn" class="pageBtn_blue36" ng-click="delUser()" ng-show="selectItems.length!=0" ng-disabled="selectItems.length==0">{{"deleteMore"|translate}}</button>
            
            <selected-tip ng-hide="noData" length="selectItems.length"></selected-tip> 
        </div>

        <div class="empty" ng-show="noData"><span>{{"no_data"|translate}}</span></div>
        <div id="pageContent" ng-show="!noData">
            <div class="tabBox">
                <table id="tab" lay-filter="tab"></table>
            </div>
            <pagination paging-options="pagingOptions" get-page-data="getPageData()"></pagination>
        </div>

    </div>

</div>