<div id="blackWhiteListList" class="pageBox">
    <div id="pageHead">
        <div id="breadcrumb">
            <a class="parent">{{firstMenuName}}</a>
            <a class="self">{{secondMenuName}}</a>
        </div>
        <div id="currentSelf">
            <h3>{{secondMenuName}}</h3>
        </div>
    </div>

    <div class="pageMain">
         <div class="pageSearch">
            <div class="pageSearch_row">
                <div class="pageSearch_item">
                    <span class="pageSearch_itemT">{{"domain"|translate}}:</span>
                    <input class="pageSearch_itemC" type="text" ng-model="searchOptions.host" placeholder='{{"pleaseInput"|translate}}'>
                </div>

                <div class="pageSearch_btnGroup right">
                    <button ng-if="blackWhiteList.searchBtn" id="search" type="button" class="pageBtn_blue36" ng-click="search()">{{blackWhiteList.searchName}}</button>
                </div>
            </div>

        </div>

        <div class="pageContent_operation">
            <a ng-if="blackWhiteList.addBtn" class="pageBtn_blue36 addIcon" ui-sref="index.strategy.blackWhiteList.edit({id:0})">{{blackWhiteList.addName}}</a>
            <button ng-if="blackWhiteList.issuedAllBtn" class="pageBtn_blue36" ng-click="issuedAll()">{{blackWhiteList.issuedAllName}}</button>
            <button ng-if="blackWhiteList.deleteMoreBtn" class="pageBtn_blue36" ng-click="deleteMore()" ng-show="selectItems.length!=0" ng-disabled="selectItems.length==0">{{blackWhiteList.deleteMoreName}}</button>
            
            <selected-tip ng-hide="noData" length="selectItems.length"></selected-tip> 
        </div>
        
        <div class="empty" ng-show="noData"><span>{{"no_data"|translate}}</span></div>
        <div id="pageContent" ng-show="!noData">
            
            <div class="tabBox">
                <table id="tab" lay-filter="tab"></table>
            </div>
            <pagination paging-options="pagingOptions" get-page-data="getPageData()"></pagination>
        </div>

    </div>

</div>