<div id="globalSchedulingDList" class="pageBox">
    <div id="pageHead">
        <div id="breadcrumb">
            <a class="parent">{{firstMenuName}}</a>
            <a class="self">{{secondMenuName}}</a>
        </div>
        <div id="currentSelf">
            <h3>{{secondMenuName}}</h3>
        </div>
    </div>

    <div class="pageMain">
        <div class="pageContent_operation">
            <a ng-if="globalSchedulingD.addBtn" class="pageBtn_blue36 addIcon" ui-sref="index.strategy.globalSchedulingD.edit({id:0})">{{globalSchedulingD.addName}}</a>
            <!-- <button class="pageBtn_blue36" ng-click="issuedMore()" ng-show="selectItems.length!=0" ng-disabled="selectItems.length==0">{{"issuedMore"|translate}}</button> -->
            <button ng-if="globalSchedulingD.deleteMoreBtn" class="pageBtn_blue36" ng-click="deleteMore()" ng-show="selectItems.length!=0" ng-disabled="selectItems.length==0">{{globalSchedulingD.deleteMoreName}}</button>
            
            <selected-tip ng-hide="noData" length="selectItems.length"></selected-tip> 
        </div>

        <div class="empty" ng-show="noData"><span>{{"no_data"|translate}}</span></div>
        <div id="pageContent" ng-show="!noData">
            <div class="tabBox">
                <table id="tab" lay-filter="tab"></table>
            </div>
            <pagination paging-options="pagingOptions" get-page-data="getPageData()"></pagination>
        </div>

    </div>

</div>