<div id="auxiliaryStrategyEdit" class="pageBox">
	<div id="pageHead">
		<div id="breadcrumb">
			<a class="parent">{{firstMenuName}}</a>
			<a class="parent" ui-sref="index.strategy.auxiliaryStrategy.list">{{secondMenuName}}</a>
            <a class="self" ng-if="id==0">{{"add"|translate}}</a>
            <a class="self" ng-if="id!=0">{{"modify"|translate}}</a>	
		</div>
		<div id="currentSelf">
			<h3 ng-if="id==0">{{"add"|translate}}</h3>
            <h3 ng-if="id!=0">{{"modify"|translate}}</h3>
		</div>
	</div>

	<div class="pageMain w80 autoLR">
		<div id="pageEdit">
			<form name="edit_form" novalidate autocomplete="off">
				<div class="pageEdit_content">
                    <!-- CPID -->
					<div class="pageEdit_item">
						<span class="pageEdit_itemT">{{"cpId"|translate}}:</span>
                        <select class="pageEdit_itemC" ui-select2 ng-model="item.cpId" ng-options="i.cpId as i.name for i in cpList" ng-change="getDomainByCp(item.cpId)" required></select>
                    </div>
                    <!-- 域名 -->
					<div class="pageEdit_item">
						<span class="pageEdit_itemT">{{"domain"|translate}}:</span>
                        <select class="pageEdit_itemC" ui-select2 ng-model="item.domain" ng-options="i.domainName as i.alias for i in domainList" required></select>
                    </div>
                    <!-- 优先级 -->
					<div class="pageEdit_item">
						<span class="pageEdit_itemT">{{"priority"|translate}}:</span>
                        <select class="pageEdit_itemC" ui-select2 ng-model="item.priority" ng-options="i.id as i.name for i in priorityList" required></select>
                    </div>
                    <!-- 类型 -->
					<div class="pageEdit_item">
						<span class="pageEdit_itemT">{{"type"|translate}}:</span>
                        <select class="pageEdit_itemC" ui-select2 ng-model="item.type" ng-options="i.id as i.name for i in typeList"  ng-change="changeType(item.type)" required></select>
                    </div>
                    <div ng-if="item.type==1">
                        <!-- 静态回源IP -->
                        <div class="pageEdit_item">
                            <span class="pageEdit_itemT">{{"staticIP"|translate}}:</span>
                            <input class="pageEdit_itemC" name="staticIP" ng-model="item.staticIP"  maxlimit="24"  required ip-check
                                ng-class="{'errIpt':edit_form.staticIP.$error.ipErr}" placeholder='{{"pleaseInput"|translate}}'>
                            <span class="iptTip" ng-class="{'errTip':edit_form.staticIP.$error.ipErr }">{{'invalidIpv4'|translate}}</span>
                        </div>
                        <!-- 静态回源IPv6 -->
                        <div class="pageEdit_item">
                            <span class="pageEdit_itemT">{{"staticIPv6"|translate}}<i class="optional">{{"optional"|translate}}</i>:</span>
                            <input class="pageEdit_itemC" name="staticIPv6" ng-model="item.staticIPv6"  maxLimit="64" ipv6-check
                                ng-class="{'errIpt':edit_form.staticIPv6.$error.ipv6Err}" placeholder='{{"pleaseInput"|translate}}'>
                            <span class="iptTip" ng-class="{'errTip':edit_form.staticIPv6.$error.ipv6Err }">{{'invalidIpv6'|translate}}</span>
                        </div>
                    </div>
                    <div ng-if="item.type==2">
                        <!-- 动态回源IP -->
                        <div class="pageEdit_item">
                            <span class="pageEdit_itemT">{{"dynamicIP"|translate}}:</span>
                            <input class="pageEdit_itemC" name="dynamicIP" ng-model="item.dynamicIP"  maxLimit="24" required ip-check
                                ng-class="{'errIpt':edit_form.dynamicIP.$error.ipErr}" placeholder='{{"pleaseInput"|translate}}'>
                            <span class="iptTip" ng-class="{'errTip':edit_form.dynamicIP.$error.ipErr }">{{'invalidIpv4'|translate}}</span>
                        </div>
                        <!-- 动态回源IPv6 -->
                        <div class="pageEdit_item">
                            <span class="pageEdit_itemT">{{"dynamicIPv6"|translate}}<i class="optional">{{"optional"|translate}}</i>:</span>
                            <input class="pageEdit_itemC" name="dynamicIPv6" ng-model="item.dynamicIPv6"  ng-init="" maxLimit="64" ipv6-check
                                ng-class="{'errIpt':edit_form.dynamicIPv6.$error.ipv6Err}" placeholder='{{"pleaseInput"|translate}}'>
                            <span class="iptTip" ng-class="{'errTip':edit_form.dynamicIPv6.$error.ipv6Err }">{{'invalidIpv6'|translate}}</span>
                        </div>
                    </div>
                    <div ng-if="item.type==3">
                        <!-- Cname域名 -->
                        <div class="pageEdit_item">
                            <span class="pageEdit_itemT">{{"cname"|translate}}:</span>
                            <input class="pageEdit_itemC" ng-model="item.cname" maxLimit="1024" required placeholder='{{"pleaseInput"|translate}}'>
                            <span class="iptTip">{{"pleaseInput"|translate}}</span>
                        </div>
                        <!-- Ns ip -->
                        <div class="pageEdit_item">
                            <span class="pageEdit_itemT">{{"nameserverIP"|translate}}:</span>
                            <input class="pageEdit_itemC" name="nameserverIP" ng-model="item.nameserverIP"  maxLimit="24" required ip-check
                                    ng-class="{'errIpt':edit_form.nameserverIP.$error.ipErr}"  placeholder='{{"pleaseInput"|translate}}'>
                            <span class="iptTip" ng-class="{'errTip':edit_form.nameserverIP.$error.ipErr }">{{'invalidIpv4'|translate}}</span>
                        </div>
                    </div>
                    <div ng-if="item.type==4">
                        <!-- Ns ip -->
                        <div class="pageEdit_item">
                            <span class="pageEdit_itemT">{{"nameserverIP"|translate}}:</span>
                            <input class="pageEdit_itemC" name="nameserverIP" ng-model="item.nameserverIP"  maxLimit="24" required ip-check
                                ng-class="{'errIpt':edit_form.nameserverIP.$error.ipErr}" placeholder='{{"pleaseInput"|translate}}'>
                            <span class="iptTip" ng-class="{'errTip':edit_form.nameserverIP.$error.ipErr }">{{'invalidIpv4'|translate}}</span>
                        </div>
                    </div>
            
					<!-- IP地址段 -->
					<div class="pageEdit_list">
                        <div class="pageEdit_listBox" ng-repeat="value in ipViewList track by $index">
                            <div class="pageEdit_item">
                                <span class="pageEdit_itemT">{{"ipv4List"|translate}}:</span>
                                <input class="pageEdit_itemC" type="text" name="ip{{$index}}" ng-model="value.ip" required placeholder='{{"pleaseInput"|translate}}'>
                                <span class="iptTip">{{"auxiliaryStrategy_ipTip"|translate}}</span>
                            </div>
					
                            <div class="list_del"><button ng-click="delIpv4($index,$event)" class="btn_a">{{"delete"|translate}}</button></div>
                        </div>
                        <div class="list_add"><button type="button" ng-click="addIpv4()"><span>{{"addIpRange"|translate}}</span></button></div>
                    </div>

                    <!-- IPv6地址段 -->
					<div class="pageEdit_list">
                        <div class="pageEdit_listBox" ng-repeat="value in ipv6ViewList track by $index">
                            <div class="pageEdit_item">
                                <span class="pageEdit_itemT">{{"ipv6List"|translate}}:</span>
                                <input class="pageEdit_itemC" type="text" name="ipv6{{$index}}" ng-model="value.ip" required placeholder='{{"pleaseInput"|translate}}'>
                                <span class="iptTip">{{"auxiliaryStrategy_ipTip"|translate}}</span>
                            </div>
					
                            <div class="list_del"><button ng-click="delIpv6($index,$event)" class="btn_a">{{"delete"|translate}}</button></div>
                        </div>
                        <div class="list_add"><button type="button" ng-click="addIpv6()"><span>{{"addIpv6Range"|translate}}</span></button></div>
                    </div>

                </div>
     
				<div class="pageEdit_btnGroup">
					<button type="button" class="pageBtn_blue40" ng-click="save()" ng-disabled="edit_form.$invalid">{{"submit"|translate}}</button>
					<button type="button" class="pageBtn_bai40" ng-click="return()">{{"cancel"|translate}}</button>
				</div>
			</form>	
		</div>
	</div>
</div>