<div id="badInfoEdit" class="pageBox">
	<div id="pageHead">
		<div id="breadcrumb">
			<a class="parent">{{firstMenuName}}</a>
			<a class="parent" ui-sref="index.content.badInfo.list">{{secondMenuName}}</a>
			<a class="self" ng-if="id==0">{{"add"|translate}}</a>
            <a class="self" ng-if="id!=0">{{"modify"|translate}}</a>
		</div>
		<div id="currentSelf">
			<h3 ng-if="id==0">{{"add"|translate}}</h3>
            <h3 ng-if="id!=0">{{"modify"|translate}}</h3>
		</div>
	</div>

	<div class="pageMain">
		<div id="pageEdit">
			<form name="edit_form" novalidate autocomplete="off">
				<div class="pageEdit_content">
                    <!-- 指令类型 -->
                    <div class="pageEdit_item">
                        <span class="pageEdit_itemT">{{"instruction"|translate}}:</span>
                        <select class="pageEdit_itemC" ui-select2 ng-model="item.instruction" ng-options="i.id as i.name for i in instructionList" required></select>
                    </div>
					<!-- 违规的域名或URL -->
					<div class="pageEdit_item">
						<span class="pageEdit_itemT">{{"url"|translate}}:</span>
						<input class="pageEdit_itemC" type="text" ng-model="item.url" maxlength="2048" required placeholder='{{"pleaseInput"|translate}}'>
						<span class="iptTip">{{"pleaseInput"|translate}}</span>
					</div>
	
					<!-- ip列表 -->
					<div class="pageTabContent">
						<h3>{{"ipList"|translate}}</h3>
						<div class="pageTabContent_box" ng-if="item.ipList.length>0">
							<div>
								<table>
									<thead>
										<tr>
                                            <th width=40%>{{"ipv4"|translate}}</th>
                                            <th>{{"ipv6"|translate}}<i class="optional">{{"optional"|translate}}</i></th>
											<th class="operation" style="width:73px;">{{"operation"|translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="value in item.ipList track by $index">
                                            <td><input type="text" name="ipv4{{$index}}" ng-model="value.ipv4" ip-check maxlength="128" required
                                                ng-class="{'errIpt':edit_form.ipv4{{$index}}.$error.ipErr}" placeholder='{{"pleaseInputIPv4"|translate}}'>
                                                <span class="none" ng-class="{'errTip':edit_form.ipv4{{$index}}.$error.ipErr}">{{"pleaseInputIPv4"|translate}}</span>  
                                            </td>
                                            <td><input type="text" name="ipv6{{$index}}" ng-model="value.ipv6" ipv6-check maxlength="200"
                                                ng-class="{'errIpt':edit_form.ipv6{{$index}}.$error.ipv6Err}" placeholder='{{"pleaseInputIPv6"|translate}}'>
                                                <span class="none" ng-class="{'errTip':edit_form.ipv6{{$index}}.$error.ipv6Err}">{{"pleaseInputIPv6"|translate}}</span>  
                                            </td>
											<td class="operationBtn"><button class="btn icon_delete" ng-click="delIp($index,$event)"></button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="pageTabContent_add noBorder_b">
							<div class="dashed">
								<button type="button" ng-click="addIp()">{{'addConfig'|translate}}</button>
							</div> 
						</div>
					</div>
	
				</div>
			
			
				<div class="pageEdit_btnGroup">
					<button type="button" class="pageBtn_blue40" ng-click="save()" ng-disabled="edit_form.$invalid">{{"submit"|translate}}</button>
					<button type="button" class="pageBtn_bai40" ng-click="return()">{{"cancel"|translate}}</button>
				</div>
			</form>
		</div>
	</div>
	
</div>